/.vscode
/company_dim.csv
/Git-2.44.0-64-bit.exe
/GitHubDesktopSetup-x64.exe
/jobs_2023.sqlite
/job_postings_fact.csv
/OOLLDD
/pgAdmin 4.lnk
/Screenshot 2024-04-05 173731.png
/Screenshot 2024-04-19 185558.png
/Screenshot 2024-04-19 193250.png
/Screenshot 2024-04-20 143952.png
/Screenshot 2024-04-20 150144.png
/Screenshot 2024-04-20 182713.png
/skills_dim.csv
/skills_job_dim.csv
/software
/sql queries.docx
/TABLES.png
/Visual Studio Code.lnk